[companies]
# cobe                = https://www.cobeisfresh.com/
# designit            = https://www.designit.com/
# frog                = https://www.frog.co/
# futurice            = https://www.futurice.com/
# diva                = https://www.diva-e.com/d
# ginetta             = https://blog.ginetta.net/
# ideo                = https://www.ideo.com/
# phoenix design      = https://www.phoenixdesign.com/
# centigrade          = https://www.centigrade.de/
shapefield          = https://www.shapefield.de/
uid                 = https://www.uid.com/
404                 = https://www.404.agency/
custom interactions = https://custom-interactions.com/